@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
    font-family: poppins;
    src: local("Poppins-Medium"), url(../pages/media/fonts/Poppins-Medium.ttf) format("opentype");
    /* font-weight: 100; */
}

@font-face {
    font-family: coolvetica;
    src: url(../pages/media/fonts/coolvetica.otf);
}

* {
    margin: 0;
    padding: 0;
    /* user-select: none; */
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #f9bb21;
}

::-webkit-scrollbar-thumb {
    background-color: #000000;
}

::selection {
    background-color: #f9bb21;
    color: #000000;
}
