@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

@font-face {
    font-family: poppins;
    src: local("Poppins-Medium"), url(../pages/media/fonts/Poppins-Medium.ttf) format("opentype");
    /* font-weight: 100; */
}

@font-face {
    font-family: coolvetica;
    src: url(../pages/media/fonts/coolvetica.otf);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #f9bb21;
}

::-webkit-scrollbar-thumb {
    background-color: #000000;
    /* border-radius: 10px; */
}
